{% extends '@ModuleAutoUpgrade/components/render-field.html.twig' %}

{% block action_content %}
	<span class="render-field__select">
		<select name="{{ key }}">
			{% for cValue, cKey in field.choices %}
				<option value="{{ cValue|default(0) }}" {{ cValue == val ? 'selected' : '' }}>
					{{ cKey }}
				</option>
			{% endfor %}
		</select>
	</span>
{% endblock %}
