<div class="render-field render-field--{{ field.type }} {% if not field.desc %}render-field--no-desc{% endif %}" {% if field.id %}id="{{ field.id }}"{% endif %}
>
	<div class="render-field__infos">
		<p class="render-field__title">
      {{ field.title }} {% if field.required %}<sup class="text-danger">*</sup>{% endif %}
    </p>
		
		{% if field.desc %}
			<p class="render-field__desc text-muted">{{ field.desc }}</p>
		{% endif %}
	</div>

	<div class="render-field__action">
		{% block action_content %}
			{# Default content can go here, or it can be left empty for children to override #}
		{% endblock %}
	</div>
</div>
