{% extends "@ModuleAutoUpgrade/layouts/step-content.html.twig" %}

{% block title %}
  <h2>{{ step.title }}</h2>
{% endblock %}

{% block content %}
  {% include "@ModuleAutoUpgrade/components/backup-selection.html.twig" %}
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" type="button">
    {{ 'Restore'|trans({}) }}
  </button>
{% endblock %}
