<div id="update_assistant" class="{{ ps_version }}">
    {% if page == "home" %}
        {% include '@ModuleAutoUpgrade/pages/home.html.twig' %}
    {% elseif page == "update" %}
        {% include '@ModuleAutoUpgrade/pages/update.html.twig' %}
    {% elseif page == "rollback" %}
        {% include '@ModuleAutoUpgrade/layouts/rollback.html.twig' %}
    {% endif %}
</div>
