{% block update_assistant %}
  <div id="ua_main">
    {% block stepper %}
      <div id="ua_stepper">
        {% include "@ModuleAutoUpgrade/components/stepper.html.twig" %}
      </div>
    {% endblock %}

    {% block container %}
      <div id="{{ step_parent_id }}">
        {% block container_inner %}
          {# Default container inner use in pages/ #}
        {% endblock %}
      </div>
    {% endblock %}

    {% block privacy %}
      <div id="ua_privacy">
        {% include "@ModuleAutoUpgrade/components/privacy.html.twig" %}
      </div>
    {% endblock %}
  </div>
{% endblock %}
