{% extends '@ModuleAutoUpgrade/layouts/page.html.twig' %}

{% block page_class %}update-options-page{% endblock %}

{% block title %}
  <h1>{{ 'Update options'|trans({}) }}</h1>
{% endblock %}

{% block content %}
  <div class="update-options-page__field-list">
    {% include '@ModuleAutoUpgrade/components/render-bool.html.twig' with {
      field: {
        id: "deactivate_modules",
        title: "Deactivate non-native modules",
        desc: "All the modules installed after creating your store are considered non-native modules. They might be incompatible with the new version of PrestaShop. We recommend deactivating them during the update.",
        js: {
          on: 'onclick="enableFeature()"',
          off: 'onclick="disableFeature()"',
        },
        type: 'bool',
        required: true,
        disabled: true,
      },
      key: "PS_AUTOUP_CUSTOM_MOD_DESACT",
      val: true,
    } %}

    {% include '@ModuleAutoUpgrade/components/render-bool.html.twig' with {
      field: {
        id: "regen_email",
        title: "Regenerate email templates",
        desc: "If you've customized email templates, your changes will be lost if you activate this option.",
        js: {
          on: 'onclick="enableFeature()"',
          off: 'onclick="disableFeature()"',
        },
        type: 'bool',
        required: true,
        disabled: true,
      },
      key: "PS_AUTOUP_REGEN_EMAIL",
      val: true,
    } %}

    {% include '@ModuleAutoUpgrade/components/render-select.html.twig' with {
      field: {
        id: "regen_mail",
        title: "Switch the theme",
        desc: "Custom themes may cause compatibility issues. We recommend using a default theme during the update and change it afterwards.",
        choices: {
          0: "Keep the actual theme",
          1: "Upgrade the default theme",
          2: "Do nothing",
        },
        type: "select",
        required: true,
        disabled: false,
      },
      key: "PS_AUTOUP_SWITCH_THEME",
      val: "1",
    } %}

    {% include '@ModuleAutoUpgrade/components/render-bool.html.twig' with {
      field: {
        id: "disable_override",
        title: "Disable all overrides",
        desc: "Overriding is a way to replace business behaviors (class files and controller files) to target only one method or as many as you need. This option disables all classes & controllers overrides, allowing you to avoid conflicts during and after updates.",
        js: {
          on: 'onclick="enableFeature()"',
          off: 'onclick="disableFeature()"',
        },
        type: 'bool',
        required: true,
        disabled: true,
      },
      key: "PS_AUTOUP_DISABLE_OVERRIDE",
      val: false,
    } %}
  </div>
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" type="button">
    {{ 'Next'|trans({}) }}
    <i class="material-icons">
      arrow_forward
    </i>
  </button>
{% endblock %}
