{% extends '@ModuleAutoUpgrade/layouts/page.html.twig' %}

{% block page_class %}{{ step.code }}-page{% endblock %}

{% block title %}
    <h1>{{ step.title }}</h1>
{% endblock %}

{% block content %}
{% endblock %}

{% block buttons_inner %}
    <button class="btn btn-lg btn-primary" type="button">
        {{ 'Next'|trans({}) }}
        <i class="material-icons">
            arrow_forward
        </i>
    </button>
{% endblock %}
