{% extends '@ModuleAutoUpgrade/layouts/page.html.twig' %}

{% block stepper %}{% endblock %}

{% block page_class %}welcome-page{% endblock %}

{% block title %}
  <h1>{{ 'Welcome to PrestaShop Update Assistant'|trans({}) }}</h1>
{% endblock %}

{% block content %}
  <div class="welcome-page__card-list">
    {% include '@ModuleAutoUpgrade/components/radio-card.html.twig' with {
      checked: true,
      title: "Update your store",
      message: "Update your store to benefit from the latest improvements, bug fixes and security patches.",
      badgeLabel: "",
      releaseNote: "",
    } %}
    {% include '@ModuleAutoUpgrade/components/radio-card.html.twig' with {
      checked: true,
      title: "Restore from a backup",
      message: "Use this feature if the update failed or if your store or a  module is no longer working properly.",
      disabled: true,
      badgeLabel: "",
      releaseNote: "",
    } %}
  </div>
{% endblock %}

{% block buttons_inner %}
  <button class="btn btn-lg btn-primary" type="button">
    {{ 'Get Started'|trans({}) }}
  </button>
{% endblock %}
