nbproject

vendor/
node_modules/
/config_*.xml
.php_cs.cache
.idea
.env

## QA Nightly
/artifacts
/autoupgrade*.json

## UI Tests
/tests/UI/.env
/tests/UI/node_modules/
/tests/UI/report.json
/tests/UI/reports/
/tests/UI/test-results/

## Compile assets
/views/css/
/views/img/
/views/js/
