<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>autoupgrade</name>
    <displayName><![CDATA[Update Assistant]]></displayName>
    <version><![CDATA[7.4.3]]></version>
    <description><![CDATA[The Update Assistant module helps you backup, update and restore your PrestaShop store. With just a few clicks, you can move to the latest version of PrestaShop with confidence.]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[administration]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
</module>
