includes:
	- %currentWorkingDirectory%/tests/vendor/prestashop/php-dev-tools/phpstan/ps-module-extension.neon

parameters:
	paths:
		# From PHPStan 0.12, paths to check are relative to the neon file
		- ./../../classes
		- ./../../upgrade/php/deactivate_custom_modules.php
		- ./../../controllers/admin/AdminSelfUpgradeController.php
		- ./../../ajax-upgradetab.php
		- ./../../ajax-upgradetabconfig.php
		- ./../../autoupgrade.php
		- ./../../cli-rollback.php
		- ./../../cli-updateconfig.php
		- ./../../cli-upgrade.php
	excludePaths:
		- ./../../classes/Tools14.php
		- ./../../classes/pclzip.lib.php
	level: 5
