includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	excludePaths:
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
		- ./../../classes/Twig/TransFilterExtension.php
		- ./../../classes/UpgradeContainer.php
		# Exclude the stub as the related class exists from PrestaShop v9.2
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreServiceStub/Stubs/FaultTolerantExtraPropertyDefinitionRepository.php
	ignoreErrors:
		- "#^Parameter \\#1 \\$callback of function array_map expects \\(callable\\(int\\)\\: mixed\\)\\|null, 'add_quotes' given\\.$#"
		- "#^Property .*ModuleAdapter::\\$commandBus .* does not accept Symfony\\\\Component\\\\DependencyInjection\\\\object\\|null.$#"
		-
			identifier: booleanAnd.rightAlwaysTrue
			path: ./../../classes/UpgradeSelfCheck.php
			count: 2
		-
			identifier: argument.type
			path: ./../../autoupgrade.php
			count: 1
		-
			# Some PrestaShop may not have the method PrestaShopAutoload::generateIndex
			identifier: function.impossibleType
			path: ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader.php
			count: 1
		-
			# Abstract class check on AppKernel is not detected by PHPStan, hence the false positive
			identifier: new.abstract
			path: ./../../classes/UpgradeTools/SymfonyAdapter.php
			count: 1
