includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	excludePaths:
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
		- ./../../classes/Twig/TransFilterExtension3.php
	ignoreErrors:
		- '#Access to an undefined property Module::\$installed.#'
		- '#Call to method getContainer\(\) on an unknown class AppKernel.#'
		- '#Call to method getMessage\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\Exception\\CoreException.#'
		- '#Call to method handle\(\) on an unknown class PrestaShop\\PrestaShop\\Core\\CommandBus\\CommandBusInterface.#'
		- '#Caught class PrestaShop\\PrestaShop\\Core\\Exception\\CoreException not found.#'
		- '#Class AppKernel not found.#'
		- '#Instantiated class AppKernel not found.#'
		- '#Instantiated class PrestaShop\\PrestaShop\\Core\\Domain\\Theme\\ValueObject\\ThemeName not found.#'
		- '#PHPDoc tag @var for variable \$commandBus contains unknown class PrestaShop\\PrestaShop\\Core\\CommandBus\\CommandBusInterface.#'
		- '#Method PrestaShop\\Module\\AutoUpgrade\\UpgradeTools\\ModuleAdapter::getCommandBus\(\) has invalid return type PrestaShop\\PrestaShop\\Core\\CommandBus\\CommandBusInterface.#'
		- '#Method PrestaShop\\Module\\AutoUpgrade\\UpgradeTools\\SymfonyAdapter::initKernel\(\) has invalid return type AppKernel.#'
		- '#Method PrestaShop\\Module\\AutoUpgrade\\UpgradeTools\\SymfonyAdapter::initKernel\(\) has invalid return type AdminKernel.#'
		- '#Call to method getContainer\(\) on an unknown class AdminKernel.#'
		- '#Instantiated class AdminKernel not found\.#'
		-
			identifier: booleanAnd.rightAlwaysTrue
			path: ./../../classes/UpgradeSelfCheck.php
			count: 1
