includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	excludes_analyse:
		- ./../../classes/Tools14.php
		- ./../../classes/pclzip.lib.php
		- ./../../functions.php
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader17.php
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
		- ./../../classes/UpgradeTools/SymfonyAdapter.php
	ignoreErrors:
		- '#Access to an undefined property Autoupgrade::\$bootstrap.#'
		- '#Access to an undefined property Module::\$installed.#'
		- '#[cC]lass PrestaShop\\PrestaShop\\Core\\Addon\\Theme\\ThemeManagerBuilder#'
		- '#Call to an undefined static method ConfigurationTest::test_apache_mod_rewrite\(\).#'
		- '#Call to an undefined static method ConfigurationTest::test_curl\(\).#'
		- '#Call to an undefined static method ConfigurationTest::test_memory_limit\(\).#'
		- '#Call to method assign\(\) on an unknown class Smarty.#'
		- '#Call to method fetch\(\) on an unknown class Smarty.#'
		- '#Call to method getContainer\(\) on an unknown class AppKernel.#'
		- '#PrestaShop\\PrestaShop\\Adapter\\Module\\ModuleDataUpdater#'
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
		- '#Return typehint of method PrestaShop\\Module\\AutoUpgrade\\UpgradeTools\\ModuleAdapter::getCommandBus\(\) has invalid type PrestaShop\\PrestaShop\\Core\\CommandBus\\CommandBusInterface.#'
