includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	excludePaths:
		- ./../../classes/UpgradeTools/CoreUpgrader/CoreUpgrader80.php
	ignoreErrors:
		- '#Access to an undefined property Module::\$installed.#'
		- '#Instantiated class PrestaShop\\PrestaShop\\Core\\Domain\\Theme\\ValueObject\\ThemeName not found.#'
		- '#Call to method getContainer\(\) on an unknown class AdminKernel.#'
		- '#Method PrestaShop\\Module\\AutoUpgrade\\UpgradeTools\\SymfonyAdapter::initKernel\(\) has invalid return type AdminKernel.#'
		- '#Instantiated class AdminKernel not found\.#'
		-
			identifier: booleanAnd.rightAlwaysTrue
			path: ./../../classes/UpgradeSelfCheck.php
			count: 1
