includes:
	- %currentWorkingDirectory%/tests/phpstan/phpstan.neon

parameters:
	ignoreErrors:
		- '#Access to an undefined property Autoupgrade::\$bootstrap.#'
		- '#Access to an undefined property Module::\$installed.#'
		- '#Function deactivate_custom_modules not found.#'
		- '#Instantiated class PrestaShop\\PrestaShop\\Core\\Domain\\Theme\\ValueObject\\ThemeName not found.#'
		- '#Property ModuleCore::\$version \(float\) does not accept string.#'
