@use "../../variables" as *;

$e: ".render-field";

#{$ua-id} {
  #{$e} {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    padding-block-end: 1rem;
    margin-block-end: 1rem;
    border-block-end: 0.0625rem solid var(--#{$ua-prefix}border-color);
    container-type: inline-size;
    container-name: render-field;

    &__title {
      margin-block-end: 0;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 1.4;
    }

    &__desc {
      margin-block-end: 0;
      font-size: 0.875rem;
      line-height: 1.4;
    }

    &__infos {
      display: flex;
      flex-basis: 0;
      flex-direction: column;
      flex-grow: 1;
      gap: 0.25rem;
    }

    &--no-desc {
      align-items: center;
    }

    @container render-field (max-width: 400px) {
      &__infos {
        flex-basis: 100%;
      }
    }
  }
}
