@use "../../variables" as *;

$e: ".ua-switch";

#{$ua-id} {
  #{$e} {
    --#{$ua-prefix}switch-background-color: var(--#{$ua-prefix}primary-700);
    --#{$ua-prefix}switch-checked-background-color: var(--#{$ua-prefix}green-500);
    --#{$ua-prefix}switch-outline-color: var(--#{$ua-prefix}blue-500);
    position: relative;

    &__label {
      display: flex;
      flex-direction: row-reverse;
      gap: 1rem;
      align-items: center;
      margin: 0;
      cursor: pointer;

      &:active {
        #{$e}__slider {
          outline: 2px solid var(--#{$ua-prefix}switch-outline-color);
        }
      }
    }

    &__yes {
      display: none;
    }

    &__no {
      display: flex;
    }

    &__slider {
      position: relative;
      width: 2.25rem;
      height: 1.25rem;
      background-color: var(--#{$ua-prefix}switch-background-color);
      border-radius: 0.625rem;
      cursor: pointer;
      transition: background-color var(--#{$ua-prefix}default-transition-duration);

      &::before {
        content: "";
        position: absolute;
        bottom: 0.125rem;
        left: 0.125rem;
        width: 1rem;
        height: 1rem;
        background-color: var(--#{$ua-prefix}white);
        border-radius: 50%;
        transition: transform var(--#{$ua-prefix}default-transition-duration);
      }
    }

    &__input {
      position: absolute;
      width: 0;
      height: 0;

      &:checked {
        + #{$e}__label {
          #{$e}__slider {
            background-color: var(--#{$ua-prefix}switch-checked-background-color);

            &::before {
              transform: translateX(1rem);
            }
          }

          #{$e}__yes {
            display: flex;
          }

          #{$e}__no {
            display: none;
          }
        }
      }

      &:active,
      &:focus,
      &:focus-visible {
        + #{$e}__label {
          #{$e}__slider {
            outline: 2px solid var(--#{$ua-prefix}switch-outline-color);
          }
        }
      }
    }
  }
}
