<div class="alert alert-danger">
    {{ message }}
    <button class="btn btn-primary" style="margin-left: 10px;" onclick="javascript:window.history.back();">
        {{ 'Go back'|trans({}, 'Admin.Actions') }}
    </button>
</div>
