<div class="alert alert-danger">
    {{ message }}
    <a class="btn btn-primary" style="margin-left: 10px;" href="javascript:window.history.back();">
        {{ 'Go back'|trans({}, 'Admin.Actions') }}
    </a>
</div>
