<div style="display: flex; justify-content: center;">
    <a class="btn" style="display: flex; align-items: center;" href="https://www.prestashop-project.org/data-transparency/" target="_blank">
        <i class="material-icons" style="font-size: 18px; margin-right: 4px;">
            launch
        </i>
        {{ 'Privacy policy'|trans({}) }}
    </a>
</div>
