/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
@use "../../variables" as *;

$e: ".link";

#{$ua-id} {
  #{$e} {
    color: var(--#{$ua-prefix}link-color);
    text-decoration: underline;
    text-underline-offset: 0.125rem;
    transition:
      color var(--#{$ua-prefix}default-transition-duration),
      text-underline-offset var(--#{$ua-prefix}default-transition-duration);

    &:hover {
      color: var(--#{$ua-prefix}link-color-hover);
      text-underline-offset: 0.25rem;
    }

    .material-icons {
      display: inline;
      font-size: 1em;
      line-height: inherit;
      vertical-align: middle;
    }

    &--icon-start {
      .material-icons {
        &::after {
          content: " ";
          font-family: sans-serif;
          line-height: inherit;
        }
      }
    }

    &--icon-end {
      .material-icons {
        &::before {
          content: " ";
          font-family: sans-serif;
          line-height: inherit;
        }
      }
    }

    &--external {
      .material-icons {
        &::before {
          content: " ";
          font-family: sans-serif;
          line-height: inherit;
        }
      }
    }
  }
}
