@use "../../variables" as *;
@use "../../mixins" as *;

$e: ".skeleton";

#{$ua-id} {
  #{$e} {
    display: block;

    // Skeletons
    &--title {
      height: 1.125rem;
      width: max(12.5rem, 25%);
      border-radius: 0.25rem;
      @extend %skeleton-gradient;
    }

    &--paragraph {
      height: 1.125rem;
      width: 100%;
      border-radius: 0.25rem;
      @extend %skeleton-gradient;
    }

    // Scrollable list
    &-scrollable-list {
      padding: 1rem;
      background-color: var(--#{$ua-prefix}muted-background-color);
      border-radius: var(--#{$ua-prefix}border-radius);

      + #{$e}-scrollable-list {
        margin-block-start: 1rem;
      }

      &__title {
        margin-block-end: 1.875rem;
      }

      &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-inline: 1.875rem;
      }
    }
  }
}
