/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
@use "../../variables" as *;

$e: ".backup-page";

#{$ua-id} {
  #{$e} {
    &__container {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    &__section {
      &:has(.render-field) {
        &:not(:has(.render-field:nth-child(2))) {
          .render-field {
            padding-block-end: 0;
            margin-block-end: 0;
            border-block-end: 0;
          }
        }
      }
    }
  }
}
