/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
@use "../../variables" as *;

$e: "#ua";

#{$ua-id} {
  // Default BO theme layout fix
  padding-inline-end: 5px;

  &:not(.v1-7-8-0):not(.v1-7-3-0) {
    padding-inline-end: 0;
  }
}

#{$e} {
  &_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-block: 1rem;
    container-type: inline-size;
    container-name: ua-main;
  }

  &_container {
    padding: 4rem;
    background-color: var(--#{$ua-prefix}white);
  }

  &_step_content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  &_privacy {
    text-align: center;
  }

  &_modal {
    height: 0;
  }

  @container ua-main (max-width: 700px) {
    &_container {
      padding: 2rem;
    }
  }
}
