/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
@use "../../variables" as *;

$e: ".page";

#{$e} {
  &__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: flex-end;

    @container ua-main (max-width: 479px) {
      > form {
        width: 100%;
      }

      .btn {
        justify-content: center;
        width: 100%;
        white-space: normal;
      }
    }
  }
}
