/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
@use "../../variables" as *;

$e: ".welcome-page";

#{$ua-id} {
  &:has(.welcome-page) {
    #ua_main {
      padding-block-start: 0;
    }
  }

  #{$e} {
    &__card-list {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }
}
