.list-group-item {
  border: none;
  line-height: 35px;
}

.icon-danger {
  color: $color-danger;
}

.icon-success {
  color: $color-success;
}

.modal-header .close {
  padding: 1rem;
}

.modal-footer {
  justify-content: center;
}
