$global-padding: 60px;

$primary: #25b9d7;
$step-background: #e9f8fb;

$color-success: #70b580;
$color-danger: #c05c67;
$color-clear: #ffffff;
$color-title: #363a41;
$color-even: #f8f8f8;

$version-background: #f0f0f0;

$select-mode-button-color: #ffffff;
$select-mode-button-background: #6c868e;
$select-mode-button-border: #6c868e;

$list-border-color: #ededed;

$step-size: 40px;

$file-list-background: #fafafa;
$file-list-border: #e1e1e1;
