@use "../variables" as *;

#{$ua-id} {
  --#{$ua-prefix}typography-color: var(--#{$ua-prefix}base-text-color);
  --#{$ua-prefix}link-color: var(--#{$ua-prefix}primary);
  --#{$ua-prefix}link-color-hover: var(--#{$ua-prefix}primary-hover);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .h1,
  .h2,
  .h3,
  .h4,
  .h5,
  .h6 {
    margin: 0;
    background-color: transparent;
    font-weight: 600;
    text-wrap: pretty;
  }

  .h1 {
    margin-block: 0 1.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .h3 {
    font-size: 1.125rem;
    font-weight: 600;
  }

  p {
    margin-block-end: 0.25rem;
    font-size: 0.875rem;
  }

  a.link {
    display: inline-block;
    color: var(--#{$ua-prefix}link-color);
    text-decoration: underline;
    text-underline-offset: 0.125rem;
    transition: text-underline-offset 0.15s;

    &:hover {
      color: var(--#{$ua-prefix}link-color-hover);
      text-decoration-color: var(--#{$ua-prefix}link-color-hover);
      text-underline-offset: 0.25rem;
    }

    .material-icons {
      padding-inline: 0.25rem;
      font-size: 1rem;
      text-decoration: none;
      vertical-align: middle;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-inline-start: 2rem;

    li {
      line-height: 1.4;
    }
  }
}
