/**
 * For the full copyright and license information, please view the
 * LICENSE.md file that was distributed with this source code.
 */
// Animations
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-invert {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

@keyframes stepper-done {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes stepper-current {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.25);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes stepper-line {
  0% {
    left: 50%;
    width: 0;
  }

  50% {
    left: 50%;
    width: 100%;
  }

  100% {
    left: 150%;
    width: 0%;
  }
}

@keyframes backdrop-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backdrop-hide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes dialog-show {
  from {
    opacity: 0.5;
    transform: translateY(-2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dialog-hide {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

// Skeleton
%skeleton-gradient {
  background: linear-gradient(90deg, rgb(221 221 221) 40%, rgb(238 238 238), rgb(221 221 221) 60%)
    180% / 200% 100%;
  animation: 2s ease-in-out 0s infinite normal none running skeleton-gradient-animation;
}

@keyframes skeleton-gradient-animation {
  100% {
    background-position-x: -20%;
  }
}
